body{
    margin: 0;
    text-align:center;
    background: #4d244e;
    font-family: sans-serif;
   
}

h2{
    margin: 0;
    color: #aa8e8d;
    margin-top: 1em;
    margin-bottom: 1em;
}

p{
    font-size: 0.9rem;;
    color:rgb(245, 245, 187);
}



ul{
    margin: 0 2em 4em 2em;
    list-style: none;
    padding: 0;
    
    
}

li{
    background: #6d335c;
    
    padding: 10px 5px;
    font-weight: 900;
    font-size: 1.125rem;
    margin-bottom: 0.2em;
    border-radius: 5px;
}
#results{
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}

.container{
    margin: 0 auto;
    color: #d37b79;

   
}


#searchquery{
    
    background: #ae5f75;
    color: #f6bd66;
   
    font-weight: 600;
    font-size:1.5rem;
    text-align: center;
    padding: .5rem 1rem;
    border-radius: 3px;
    border: none;
}

#searchquery:hover, #searchquery:focus{
    outline:none;
}


@media screen and (min-width:1006px){
    #results{
       
        flex-direction:row;
       
    }

    .container > *{
        max-width: 1000px;
        margin: 0 auto;
    }
    .col-one, .col-two{
        margin: 0 auto;
        width: 490px;
    
    }

    li{
        margin-bottom: 0.5em;
    }
   
    
    

}